# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Files
data/student_applications.xlsx
data/people_onboarded.csv
data/track_comments.xlsx
data/student_work_status.xlsx
data/student_files/*
cross-check-entries-allahbad_files/
cross-check-entries-andhra-pradesh_files/
cross-check-entries-bombay_files/
cross-check-entries-calcutta_files/
cross-check-entries-chief-justices_files/
cross-check-entries-kerala_files/
cross-check-entries-madhya-pradesh_files/
cross-check-entries-madras_files/
cross-check-entries-patna_files/